<div *ngIf="weather && weather.name">
<mat-card class="weather-card">
  <mat-card-header>
    <mat-card-title>
      Current Weather for {{ weather.name }}
          </mat-card-title>
      </mat-card-header>
        <mat-card-content>
          <p>
            {{ Math.round(weather.main.temp * 9/5 - 459.67) }}°F
          </p>
            <img src="http://openweathermap.org/img/w/{{weather.weather[0].icon}}.png" />
            <p>
              {{ weather.weather[0].main }}
            </p>
        </mat-card-content>
</mat-card>
</div>