<mat-card class="example-form">
<label>Enter your location</label>
<mat-form-field class="example-full-width">
<input matInput 
[(ngModel)]="cityName" 
placeholder="Your City" 
[ngModelOptions]="{standalone: true}" >
</mat-form-field>
<button mat-raised-button
color="primary"
(click)="onGetWeather()">
  get weather
</button>
<button mat-raised-button color="primary" (click)="onGetForecast()">
  get forecast
</button>
</mat-card>
<!-- <p>weather: {{ weather | async | json }}</p> -->
<app-weather-display [weather]="weather"></app-weather-display>
<app-forecast-display [forecast]="forecast"></app-forecast-display>